@font-face {
    font-family: 'Zasline';
    src: url('fuentes/Zasline.otf') format('opentype');
  }


.navSup{
    background-color: rgb(36, 36, 36);
    @apply text-white fixed top-0 left-0 w-full z-20 flex justify-center  ;    
}

.logo {
    height: 85px;
    width: auto;
    border-radius: 10px;
    margin-right: 200px;
}

.options {
    color: white;
    font-weight: bold;
    font-family: Zasline;
    font-size: large;
    @apply mx-2 place-self-center 
}

.options:hover {
    color: rgb(207, 203, 162);
    transition: color 0.3s ease;
}

.menu{
    @apply flex flex space-x-20 flex-col sm:flex-row absolute right-0 sm:relative   /* hover:bg-red */
}

